<a href="https://colab.research.google.com/github/NairaGama/ElectronicsStoreDatabase-NairaGama.sql/blob/main/DashBD_Eletronicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Utilizando Banco de Dados da Loja de Eletrônicos para criar Dashboard**

Foram analisadas as vendas do mês de Maio de 2023 disponível no banco de dados, possibilitando assim tomada de decisões.

**Os dados utilizados são fictícios e apenas fins acadêmicos.**

In [ ]:
#Bibliotecas
import sqlite3  #interação com o banco de dados
import pandas as pd #manipulação dos dados

In [ ]:
#Conectando banco
conn = sqlite3.connect('loja_eletronicos.db')
cursor = conn.cursor()

In [ ]:
#Apagando tabelas caso já existam
cursor.execute("DROP TABLE IF EXISTS PRODUTO;")
cursor.execute("DROP TABLE IF EXISTS CATEGORIA;")
cursor.execute("DROP TABLE IF EXISTS FORNECEDOR;")
cursor.execute("DROP TABLE IF EXISTS CLIENTE;")
cursor.execute("DROP TABLE IF EXISTS CLIENTE_PF;")
cursor.execute("DROP TABLE IF EXISTS CLIENTE_PJ;")
cursor.execute("DROP TABLE IF EXISTS ENTRADAS;")
cursor.execute("DROP TABLE IF EXISTS SAIDAS;")
conn.commit()

In [ ]:
sql = """-- Criando tabelas do banco da loja de eletrônicos

-- Tabela Produto
CREATE TABLE PRODUTO(
  Cod_produto INT NOT NULL,
  Nome_produto VARCHAR(50) NOT NULL,
  Cod_categoria INT NOT NULL,
  Valor DECIMAL(10, 2) NOT NULL,
  Quantidade_estoque INT NOT NULL DEFAULT 0,
  Cod_fornecedor INT,
  PRIMARY KEY (Cod_produto),
  FOREIGN KEY (Cod_fornecedor) REFERENCES FORNECEDOR (Cod_fornecedor),
  FOREIGN KEY (Cod_categoria) REFERENCES CATEGORIA (Cod_categoria)
);

-- Tabela Categoria
CREATE TABLE CATEGORIA(
  Cod_categoria INT NOT NULL,
  Categoria VARCHAR(30) NOT NULL,
  PRIMARY KEY(Cod_categoria)
);

-- Tabela Fornecedor
CREATE TABLE FORNECEDOR(
  Cod_fornecedor INT NOT NULL,
  Nome_fornecedor VARCHAR(50) NOT NULL,
  Telefone_fornecedor VARCHAR(15),
  Cidade VARCHAR(30),
  Estado VARCHAR(2),
  PRIMARY KEY(Cod_fornecedor)
);

-- Tabela Cliente
CREATE TABLE CLIENTE(
  Cod_cliente INT NOT NULL,
  Nome_cliente VARCHAR(50) NOT NULL,
  Telefone_cliente VARCHAR(15),
  PRIMARY KEY(Cod_cliente)
);

-- Tabela Cliente_PF (Pessoa Física)
CREATE TABLE CLIENTE_PF(
  Cod_cliente INT NOT NULL,
  Cpf CHAR(11) UNIQUE,
  PRIMARY KEY(Cpf),
  FOREIGN KEY(Cod_cliente) REFERENCES CLIENTE(Cod_cliente)
);

-- Tabela Cliente_PJ (Pessoa Jurídica)
CREATE TABLE CLIENTE_PJ(
  Cod_cliente INT NOT NULL,
  Cnpj CHAR(14) UNIQUE,
  PRIMARY KEY(Cnpj),
  FOREIGN KEY(Cod_cliente) REFERENCES CLIENTE(Cod_cliente)
);

-- Tabela Entradas
CREATE TABLE ENTRADAS(
  Cod_entrada INT NOT NULL,
  Cod_produto INT NOT NULL,
  Cod_fornecedor INT,
  Quantidade INT,
  Data_entrada DATE NOT NULL,
  PRIMARY KEY(Cod_entrada),
  FOREIGN KEY(Cod_produto) REFERENCES PRODUTO(Cod_produto),
  FOREIGN KEY(Cod_fornecedor) REFERENCES FORNECEDOR(Cod_fornecedor)
);

-- Tabela Saídas
CREATE TABLE SAIDAS(
  Cod_saida INT NOT NULL,
  Cod_produto INT NOT NULL,
  Cod_cliente INT NOT NULL,
  Quantidade INT,
  Data_saida DATE,
  PRIMARY KEY(Cod_saida),
  FOREIGN KEY(Cod_cliente) REFERENCES CLIENTE(Cod_cliente),
  FOREIGN KEY(Cod_produto) REFERENCES PRODUTO(Cod_produto)
);

-- Inserindo dados na tabela Categoria
INSERT INTO CATEGORIA VALUES
(1, 'Dispositivo móvel'),
(2, 'Computadores'),
(3, 'Acessórios'),
(4, 'Televisor'),
(5, 'Áudio'),
(6, 'Jogos'),
(7, 'Equipamento de Rede'),
(8, 'Vídeo e fotografia');

-- Inserindo dados na tabela Fornecedor
INSERT INTO FORNECEDOR VALUES
(1, 'ABC Acessórios', '989898989', 'Salvador', 'BA'),
(2, 'ABC Informática', '998899889', 'Manaus', 'AM'),
(3, 'JL Eletrônicos', '987987987', 'Salvador', 'BA'),
(4, 'Lima Eletrônicos', '889988998', 'Curitiba', 'PR'),
(5, 'Casa da Informática', '999997777', 'Curitiba', 'PR');

-- Inserindo dados na tabela Produto
INSERT INTO PRODUTO VALUES
(1, 'Smartphone', 1, 1500.00, 50, 2),
(2, 'Notebook', 2, 3900.00, 25, 5),
(3, 'Tablet', 1, 810.00, 30, 3),
(4, 'Mouse', 3, 30.99, 73, 1),
(5, 'Teclado', 3, 45.50, 69, 1),
(6, 'Desktop', 2, 2350.00, 5, 5),
(7, 'Cabo USB', 3, 25.50, 12, 1),
(8, 'Webcam', 3, 190.00, 3, 1),
(9, 'SmartTV', 4, 3600.00, 15, 3),
(10, 'Smartwatch', 1, 454.99, 20, 4),
(11, 'Fone', 5, 99.90, 18, 4),
(12, 'Videogame', 6, 3670.00, 2, 2),
(13, 'Caixa de som', 5, 385.00, 10, 2),
(14, 'Roteador', 7, 270.90, 4, 2),
(15, 'Câmera Digital', 8, 245.89, 2, 2);

-- Inserindo dados na tabela Cliente
INSERT INTO CLIENTE VALUES
(1, 'Carolina Silva', '999999999'),
(2, 'Marcos da Silva', '888999777'),
(3, 'José Batista', '889977665'),
(4, 'Mariana Galvão', '999900008'),
(5, 'Murilo Moreira', '992233445'),
(6, 'X Gamer', '556677889'),
(7, 'Eletrônicos e Acessórios', '977777777'),
(8, 'Silveira Eletrônicos', '988888888'),
(9, 'Ferreira Informática', '888888888'),
(10, 'Souza Dispositivos', '995555555');

-- Inserindo dados na tabela Cliente_PF
INSERT INTO CLIENTE_PF VALUES
(1, '90000000009'),
(2, '87787787787'),
(3, '99999999999'),
(4, '88888888888'),
(5, '77777777777');

-- Inserindo dados na tabela Cliente_PJ
INSERT INTO CLIENTE_PJ VALUES
(6, '80008000800080'),
(7, '70007000700070'),
(8, '55555555555555'),
(9, '12341234123123'),
(10, '88008800880088');

-- Inserindo dados na tabela Entradas
INSERT INTO ENTRADAS VALUES
(1, 15, 2, 10, '2023-05-10'),
(2, 4, 1, 10, '2023-05-04'),
(3, 12, 2, 5, '2023-05-10'),
(4, 1, 2, 8, '2023-05-18'),
(5, 2, 5, 20, '2023-05-18'),
(6, 9, 2, 12, '2023-05-18'),
(7, 14, 1, 5, '2023-05-04'),
(8, 10, 4, 5, '2023-05-21'),
(9, 3, 3, 25, '2023-05-30'),
(10, 5, 1, 15, '2023-05-06');

-- Inserindo dados na tabela Saídas
INSERT INTO SAIDAS VALUES
(1, 5, 4, 1, '2023-05-01'),
(2, 1, 5, 1, '2023-05-01'),
(3, 8, 6, 2, '2023-05-01'),
(4, 12, 10, 1, '2023-05-03'),
(5, 6, 7, 1, '2023-05-03'),
(6, 4, 1, 3, '2023-05-10'),
(7, 4, 3, 2, '2023-05-04'),
(8, 3, 2, 1, '2023-05-04'),
(9, 7, 5, 2, '2023-05-18'),
(10, 7, 4, 1, '2023-05-18'),
(11, 5, 9, 2, '2023-05-26'),
(12, 1, 8, 2, '2023-05-21'),
(13, 1, 7, 1, '2023-05-07'),
(14, 2, 6, 1, '2023-05-07'),
(15, 2, 2, 1, '2023-05-15');

-- Consultas simples para verificar dados
SELECT * FROM PRODUTO;
SELECT * FROM CATEGORIA;
SELECT * FROM FORNECEDOR;
SELECT * FROM CLIENTE;
SELECT * FROM CLIENTE_PF;
SELECT * FROM CLIENTE_PJ;
SELECT * FROM ENTRADAS;
SELECT * FROM SAIDAS;

-- Consultas mais complexas

/* JOIN para unir os produtos e seus fornecedores */
SELECT P.Nome_produto, E.Quantidade, F.Nome_fornecedor
FROM ENTRADAS E
JOIN PRODUTO P ON E.Cod_produto = P.Cod_produto
JOIN FORNECEDOR F ON E.Cod_fornecedor = F.Cod_fornecedor;

/* SUM, MAX, MIN e AVG para calcular estatísticas dos preços */
SELECT SUM(Valor) AS Soma, MAX(Valor) AS Maximo, MIN(Valor) AS Minimo, AVG(Valor) AS Media
FROM PRODUTO;

/* COUNT para contar o número de clientes PF */
SELECT COUNT(*) AS TotalClientesPF
FROM CLIENTE_PF;

/* GROUP BY e HAVING para produtos com valor maior que 1800 */
SELECT P.Nome_produto, Valor
FROM PRODUTO P
GROUP BY P.Nome_produto, Valor
HAVING Valor >= 1800;

/* WHERE e LIKE para fornecedores do estado BA */
SELECT Nome_fornecedor, Cidade
FROM FORNECEDOR
WHERE Estado LIKE '%BA';

/* Consulta envolvendo múltiplas tabelas para vendas */
SELECT C.Nome_cliente, P.Nome_produto, S.Quantidade, S.Data_saida
FROM SAIDAS S
JOIN CLIENTE C ON S.Cod_cliente = C.Cod_cliente
JOIN PRODUTO P ON S.Cod_produto = P.Cod_produto;"""

In [ ]:
#Salvando
with open ("loja_eletronicos", "w") as arquivo:
  arquivo.write(sql)

In [ ]:
#Executando o script
cursor.executescript(sql)
conn.commit()

In [ ]:
tabelas = ['PRODUTO', 'CATEGORIA', 'FORNECEDOR', 'CLIENTE', 'CLIENTE_PF', 'CLIENTE_PJ', 'ENTRADAS', 'SAIDAS']

####**Exibindo tabelas e realizando limpeza necessária**

**Tabela Produto**

In [ ]:
#Exibindo tabela PRODUTO
df_produto = pd.read_sql_query("SELECT * FROM PRODUTO", conn)
display(df_produto)

In [ ]:
#Verificando a tabela PRODUTO
df_produto.info()

In [ ]:
#Verificando valores nulos
print(df_produto.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_produto.duplicated().sum())

In [ ]:
#Limpeza na Tabela Produto
df_produto['Valor'] = df_produto['Valor'].astype(float)
df_produto['Nome_produto'] = df_produto['Nome_produto'].str.strip().str.lower()
df_produto['Quantidade_estoque'] = df_produto['Quantidade_estoque'].astype(int)
df_produto['Valor'] = df_produto['Valor'].astype(float)
df_produto.head()

**Tabela Categoria**

In [ ]:
#Exibindo tabela CATEGORIA
df_categoria = pd.read_sql_query("SELECT * FROM CATEGORIA", conn)
display(df_categoria)

In [ ]:
df_categoria.info()

In [ ]:
#Verificando valores nulos
print(df_categoria.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_categoria.duplicated().sum())

In [ ]:
df_categoria['Categoria'] = df_categoria['Categoria'].str.strip().str.lower()
df_categoria.head()

**Tabela Fornecedor**

In [ ]:
#Exibindo tabela FORNECEDOR
df_fornecedor = pd.read_sql_query("SELECT * FROM FORNECEDOR", conn)
display(df_fornecedor)

In [ ]:
df_fornecedor.info()

In [ ]:
#Verificando valores nulos
print(df_fornecedor.isnull().sum())

In [ ]:
#verificando duplicatas
print(df_fornecedor.duplicated().sum())

In [ ]:
df_fornecedor['Nome_fornecedor'] = df_fornecedor['Nome_fornecedor'].str.strip().str.lower()
df_fornecedor['Cidade'] = df_fornecedor['Cidade'].str.strip().str.lower()
df_fornecedor['Estado'] = df_fornecedor['Estado'].str.strip().str.upper()
df_fornecedor

**Tabela Cliente**

In [ ]:
#Exibindo tabela CLIENTE
df_cliente = pd.read_sql_query("SELECT * FROM CLIENTE", conn)
display(df_cliente)

In [ ]:
df_cliente.info()

In [ ]:
#verificando valors nulos
print(df_cliente.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_cliente.duplicated().sum())

In [ ]:
df_cliente['Nome_cliente'] = df_cliente['Nome_cliente'].str.strip().str.lower().str.title()
df_cliente.head()

**Tabela Cliente PF**

In [ ]:
#Exibindo tabela CLIENTE_PF
df_cliente_pf = pd.read_sql_query("SELECT * FROM CLIENTE_PF", conn)
display(df_cliente_pf)

In [ ]:
df_cliente_pf.info()

In [ ]:
#Verificando valores nulos
print(df_cliente_pf.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_cliente_pf.duplicated().sum())

In [ ]:
df_cliente_pf['Cpf'] = df_cliente_pf['Cpf'].astype(str).str.strip()
df_cliente_pf

**Tabela Cliente PJ**

In [ ]:
#Exibindo tabela CLIENTE_PJ
df_cliente_pj = pd.read_sql_query("SELECT * FROM CLIENTE_PJ", conn)
display(df_cliente_pj)

In [ ]:
df_cliente_pj.info()

In [ ]:
#Verificando valore nulos
print(df_cliente_pj.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_cliente_pj.duplicated().sum())

In [ ]:
df_cliente_pj['Cnpj'] = df_cliente_pj['Cnpj'].astype(str).str.strip()
df_cliente_pj

**Tabela Entradas**

In [ ]:
#Exibindo tabela ENTRADAS
df_entradas = pd.read_sql_query("SELECT * FROM ENTRADAS", conn)
display(df_entradas)

In [ ]:
df_entradas.info()

In [ ]:
#Verificando valores nulos
print(df_entradas.isnull().sum())

In [ ]:
#verificando duplicatas
print(df_entradas.duplicated().sum())

In [ ]:
df_entradas['Data_entrada'] = pd.to_datetime(df_entradas['Data_entrada'], format='%Y-%m-%d')
df_entradas["Quantidade"] = df_entradas["Quantidade"].astype(int)
df_entradas

**Tabela Saídas**

In [ ]:
#Exibindo tabela SAIDAS
df_saidas = pd.read_sql_query("SELECT * FROM SAIDAS", conn)
display(df_saidas)

In [ ]:
df_saidas.info()

In [ ]:
#Verificando valore nulos
print(df_saidas.isnull().sum())

In [ ]:
#Verificando duplicatas
print(df_saidas.duplicated().sum())

In [ ]:
df_saidas['Data_saida'] = pd.to_datetime(df_saidas['Data_saida'], format='%Y-%m-%d')
df_saidas["Quantidade"] = df_saidas["Quantidade"].astype(int)
df_saidas

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go

from sklearn.preprocessing import StandardScaler

In [ ]:
#Unindo tabelas
df_vendas = df_saidas.merge(df_produto, on='Cod_produto', how='left')
df_vendas = df_vendas.merge(df_cliente, on='Cod_cliente', how='left')

In [ ]:
print(df_vendas.info())

In [ ]:
#Verificando valore nulos
print(df_vendas.isnull().sum())

In [ ]:
df_vendas.describe()

In [ ]:
#Vendas de cada produto
vendas_produto = df_vendas.groupby('Nome_produto')['Quantidade'].sum().reset_index()
vendas_produto

In [ ]:
#vendas por Cliente
vendas_cliente = df_vendas.groupby('Nome_cliente')['Quantidade'].sum().reset_index()
vendas_cliente

###**Gráficos**

In [ ]:
mais_vendidos = vendas_produto.sort_values(by='Quantidade', ascending=False).head(5)

In [ ]:
#Gráfico de barras com os 5 produtos mais vendidos
fig = px.bar(mais_vendidos,
             x='Nome_produto',
             y='Quantidade',
             title='5 Produtos Mais Vendidos em Maio',
             color = 'Nome_produto',
             color_discrete_sequence=['#001848'])

fig.update_layout(xaxis_title='Produto',
                  yaxis_title='Quantidade Vendida')
fig.show()

In [ ]:
#Gráfico das vendas durante o mês de maio
vendas_mes = df_vendas.groupby('Data_saida')['Quantidade'].sum().reset_index()
vendas_mes['Data_saida'] = pd.to_datetime(vendas_mes['Data_saida'])
vendas_mes = vendas_mes.sort_values('Data_saida')

fig = px.line(vendas_mes,
              x='Data_saida',
              y='Quantidade',
              title='Vendas durante o mês de Maio',
              markers='o',
              color_discrete_sequence=['#001848'])

fig.update_layout(xaxis_title='Data',
                  yaxis_title='Quantidade Vendida',
                  title_font_size=20,
                  font=dict(size=12))
fig.show()

In [ ]:
df_vendas['Total_Vendas'] = df_vendas['Quantidade'] * df_vendas['Valor']
total = df_vendas['Total_Vendas'].sum()

fig = go.Figure(go.Indicator(
    mode = "number",
    value = total,
    title = {"text": "Total vendido em Maio/2023"},
    number={"prefix": "R$", "valueformat": ",.2f","font":{"size":50}}))

fig.update_layout(
    height=250,
    width=400,
    paper_bgcolor="LightSteelBlue",
    margin=dict(t=40, b=0, l=0, r=0)
)
fig.show()

In [ ]:
#Total de Clientes atendidos
clientes_atendidos = df_vendas['Cod_cliente'].nunique()

fig = go.Figure(go.Indicator(
    mode = "number",
    value = clientes_atendidos,
    title = {"text": "Clientes atendidos"},
    number={"font":{"size":50}}))

fig.update_layout(
    height=250,
    width=400,
    paper_bgcolor="LightSteelBlue",
    margin=dict(t=40, b=0, l=0, r=0)
)
fig.show()

In [ ]:
#Estoque atual
estoque_atual = df_produto['Quantidade_estoque'].sum()

fig = go.Figure(go.Indicator(
    mode = "number",
    value = estoque_atual,
    title = {"text": "Estoque atual"},
    number={"font":{"size":50}}))

fig.update_layout(
    height=250,
    width=400,
    paper_bgcolor="LightSteelBlue",
    margin=dict(t=40, b=0, l=0, r=0)
)
fig.show()

In [ ]:
#Unindo tabelas
df_produto_categoria = df_produto.merge(df_categoria, on='Cod_categoria', how='left')
df_vendas_categoria = df_saidas.merge(df_produto_categoria, on='Cod_produto', how='left')

In [ ]:
df_vendas_categoria['Valor_Total'] = df_vendas_categoria['Quantidade'] * df_vendas_categoria['Valor']
vendas_categoria = df_vendas_categoria.groupby('Categoria')['Valor_Total'].sum().reset_index().sort_values(by='Valor_Total', ascending=False)

In [ ]:
fig = px.bar(vendas_categoria,
             x='Categoria',
             y='Valor_Total',
             title='Vendas por Categoria',
             color='Categoria',
             color_discrete_sequence=['#001848'])

fig.update_layout(xaxis_title='Categoria',
                  yaxis_title='Valor Total',
                  showlegend=False)
fig.show()

In [ ]:
df_vendas['Tipo_cliente'] = df_vendas['Cod_cliente'].apply(lambda x: 'PF' if x in df_cliente_pf['Cod_cliente'].values else 'PJ')
tipo_cliente = df_vendas['Tipo_cliente'].value_counts().rename_axis('Tipo').reset_index(name='Quantidade')

fig = px.bar(tipo_cliente,
             x='Quantidade',
             y='Tipo',
             orientation='h',
             color='Tipo',
             title='Tipo de Cliente',
             color_discrete_sequence=['#001848'])

fig.update_layout(xaxis_title='Quantidade',
                  yaxis_title='Tipo',
                  showlegend=False)

fig.show()

In [ ]:
!pip install dash pandas plotly

In [ ]:
import dash
from dash import dcc, html
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
#Construção do Dashboard

#Total vendido em R$ no mês de Maio
vendas = go.Figure(go.Indicator(mode='number', value=total, title={'text': 'Total vendido', 'font':{'size': 15}},
                                number={'prefix': 'R$', 'valueformat': ',.2f', 'font': {'size': 35}}))
vendas.update_layout(height=100, width=250, paper_bgcolor='#B0C4DE')

#Quantidade atual no estoque da loja
estoque = go.Figure(go.Indicator(mode='number', value=estoque_atual, title={'text': 'Estoque', 'font':{'size': 15}},
                                 number={'font': {'size': 35}}))
estoque.update_layout(height=100, width=250, paper_bgcolor='#B0C4DE')

#Clientes atendidos no mês
clientes = go.Figure(go.Indicator(mode='number', value=clientes_atendidos, title={'text':'Clientes atendidos', 'font':{'size':15}},
                                  number={'font': {'size': 35}}))
clientes.update_layout(height=100, width=250, paper_bgcolor='#B0C4DE')

#Gráficos

#Gráfico 1 - 5 produtos mais vendidos na loja
mais_vendidos_df = vendas_produto.sort_values(by='Quantidade', ascending=False).head(5).reset_index()
mais_vendidos = px.bar(mais_vendidos_df, x='Nome_produto', y='Quantidade',
                                color='Nome_produto', color_discrete_sequence=['#001848'],)
mais_vendidos.update_layout(title={'text': '5 Produtos Mais Vendidos', 'x': 0.5, 'xanchor': 'center', 'font':{'size':20, 'color': '#001848'}
                                   },xaxis_title='Produto', yaxis_title='Quantidade Vendida', showlegend=False)

#Gráfico 2 - Quantidade de vendas durante o mês
vendas_mes_df = df_vendas.groupby('Data_saida')['Quantidade'].sum().reset_index()
vendas_mes_df['Data_saida'] = pd.to_datetime(vendas_mes_df['Data_saida'])
vendas_mes_df = vendas_mes_df.sort_values('Data_saida')
vendas_mes = px.line(vendas_mes_df, x='Data_saida', y='Quantidade',
                             markers='o', color_discrete_sequence=['#001848'])
vendas_mes.update_layout(title={'text': 'Vendas durante o mês', 'x': 0.5, 'xanchor': 'center', 'font':{'size':20, 'color': '#001848'}
                                }, xaxis_title='Data', yaxis_title='Quantidade Vendida', title_font_size=20)

#Gráfico 3 - Vendas por Categoria
vendas_categoria_df = df_vendas_categoria.groupby('Categoria')['Valor_Total'].sum().reset_index().sort_values(by='Valor_Total', ascending=False)
vendas_categoria = px.bar(vendas_categoria_df, x='Categoria', y='Valor_Total',
                                  color='Categoria', color_discrete_sequence=['#001848'])
vendas_categoria.update_layout(title={'text': 'Vendas por Categoria', 'x': 0.5, 'xanchor': 'center', 'font':{'size':20, 'color': '#001848'}
                                      }, xaxis_title='Categoria', yaxis_title='Valor Total', showlegend=False)

#Gráfico 4 - Cliente PF e Cliente PJ
tipo_cliente_df = df_vendas['Tipo_cliente'].value_counts().rename_axis('Tipo').reset_index(name='Quantidade')
tipo_cliente = px.bar(tipo_cliente_df, x='Quantidade', y='Tipo', orientation='h',
                              color='Tipo', color_discrete_sequence=['#001848'])
tipo_cliente.update_layout(title={'text': 'Cliente', 'x':0.5, 'xanchor': 'center', 'font':{'size':20, 'color': '#001848'}
                                  }, xaxis_title='Quantidade', yaxis_title='Tipo', showlegend=False)

#App
app = dash.Dash(__name__)
app.layout = html.Div(style={'backgroundColor': '#DCDCDC', 'padding': '40px'}, children=[
    html.H1("Análise das Vendas em Maio", style={'textAlign': 'center','color':'#001848'}),

    html.Div(style={'display': 'flex', 'justifyContent': 'center', 'flexWrap': 'wrap', 'gap': '20px'}, children=[
        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.01)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.1)',
            'flex': '1 1 300px',
            'height': '100px',
            'minWidth': '150px',
            'maxWidth': '250px'
        }, children=[
            dcc.Graph(figure=vendas, config={'displayModeBar': False}, style={'height': '100%'})
        ]),

        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.01)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.1)',
            'flex': '1 1 300px',
            'height': '100px',
            'minWidth': '150px',
            'maxWidth': '250px'
        }, children=[
            dcc.Graph(figure=estoque, config={'displayModeBar': False}, style={'height': '100%'})
        ]),


        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.01)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.1)',
            'flex': '1 1 300px',
            'height': '100px',
            'minWidth': '150px',
            'maxWidth': '250px'
        }, children=[
            dcc.Graph(figure=clientes, config={'displayModeBar': False}, style={'height': '100%'})
    ]),

    html.Div(style={'display': 'flex', 'justifyContent': 'center', 'flexWrap': 'wrap', 'gap': '20px'}, children=[
        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.05)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.2)',
            'flex': '1 1 400px',
            'minWidth': '300px',
            'maxWidth': '450px',
            'height': '340px'
        }, children=[dcc.Graph(figure=mais_vendidos, config={'displayModeBar':False}, style={'height': '100%'})
        ]),

        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.05)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.2)',
            'flex': '1 1 400px',
            'minWidth': '300px',
            'maxWidth': '450px',
            'height': '340px'
        }, children=[dcc.Graph(figure=vendas_mes, config={'displayModeBar':False}, style={'height': '100%'})
        ])
    ]),

    html.Div(style={'display': 'flex', 'justifyContent': 'center', 'flexWrap': 'wrap', 'gap':'20px'}, children=[
        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.05)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.2)',
            'flex': '1 1 400px',
            'minWidth': '300px',
            'maxWidth': '450px',
            'height': '340px'
        }, children=[dcc.Graph(figure=vendas_categoria, config={'displayModeBar':False}, style={'height': '100%'})
        ]),
        html.Div(style={
            'backgroundColor': 'rgba(255, 255, 255, 0.05)',
            'borderRadius':'20px',
            'padding': '10px',
            'boxShadow': '0px 4px 8px rgba(0, 0, 0, 0.2)',
            'flex': '1 1 400px',
            'minWidth': '300px',
            'maxWidth': '450px',
            'height': '340px'
        }, children=[dcc.Graph(figure=tipo_cliente, config={'displayModeBar':False}, style={'height': '100%'})
        ])
    ])
])
])

#Executando app
if __name__ == '__main__':
  from google.colab import output
  output.serve_kernel_port_as_window(8050)
  app.run(debug=True, port=8050)